.navbar {
  background-color: transparent; 
  color: #ededef;
}

.navbar-brand {
  color: #ededef;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto; 
}

.navbar-nav {
  margin-left: auto; 
}

.navbar-nav .nav-item .nav-link {
  color: #ededef;
  position: relative; 
  transition: 0.3s;
  font-weight: 400;
}

.navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FC8A06;
  transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover::before {
  width: 100%; 
}

.container {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #020314;
  z-index: 2147483647;
}

.navbar-toggler-icon {
  background-color: #ededef !important;
  border-color: #ededef !important;
}

/* Dropdown styles */
.dropdown-menu {
  background-color: #020314;
  border: none;
}

.dropdown-item {
  color: #ededef;
  transition: 0.3s;
}

.dropdown-item:hover {
  background-color: #FC8A06;
  color: #020314;
}

@media (max-width: 1024px) {
  .container {
      margin: 15px;
  }
  .navbar-brand {
      margin: 0;
  }
}

/* Media query for mobile phones */
@media (max-width: 600px) {
  .container {
      margin: 15px;
  }
  .navbar-brand {
      margin: 0;
  }
}
